@*@{
        ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    <p>Hello from our View Template!</p>*@

@{
    ViewData["Title"] = "Properties List";
}

<h2 style="color:crimson">My Properties List</h2>

<p>Hello from our View Template!</p>